footer.container.py-5
    .row
        .col-md-6
            .nav.justify-content-center.justify-content-md-start
                a(href="/nosotros", class="nav-link") About
                a(href="/trips", class="nav-link") Destiny
                a(href="/reviews", class="nav-link") Reviews
        .col-md-6
            p.copyright.text-center.text-md-right
                | All Rights Reserved  
                span= currentDate