extends ../layout/index 

block slider
    .slider
        h1 Rio de Janeiro 
        em aventura
block content
    main.container.mt-5
        h2.text-center.mb-5 About Us
        .row.mb-5
            .col-md-6
                p Morbi euismod vitae ex a scelerisque. Cras ac pellentesque ante. Nulla facilisi. Nunc scelerisque sem id vestibulum porttitor. Etiam et velit convallis risus imperdiet aliquet a quis diam.
                
                p Fusce luctus justo sapien, id efficitur erat sollicitudin quis. Nunc vehicula viverra libero, vel semper magna pharetra quis. Nulla eu libero sit amet tortor sodales porta at et arcu
            .col-md-6
                img(src="./img/inicio_nosotros.jpg", class="img-fluid")
        h2.text-center.mb-5 Our Next Trips!!!
        include ../layout/partials/trips
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% Discount
                        p.titulo Trip to Bermuda
                        p.fecha August 18, 2020 - August 30, 2020
                        p.precio $2,500 USD
    
    .container.m-4
        h2.text-center.my-5 What people are saying!!
        include ../layout/partials/reviews

